@charset "UTF-8";

/*estilos para impressora*/

*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}
article{
    width: 100%;
}
menu{
    display: none;
}
article::after{
    content:"esse artigo foi impresso atraves do site www.cursoemvideo.com.";
}